<div class="my-account-wishlist-clear-btn">
    <form id="form-clear-wishlist" name="clear-wishlist"
          action="" method="post">
        <input type="hidden" name="csrfToken" value="{{csrfToken}}"/>
        <button type="submit">{{i18n "my-account:myWishlist.clear"}}</button>
    </form>
</div>