<form name="remove-from-wishlist" action="/wishlist/remove" method="post">
    <input type="hidden" name="csrfToken" value="{{csrfToken}}"/>
    <input type="hidden" name="lineItemId" value="{{lineItemId}}">
    <div class="my-account-wishlist-remove-btn">
        <button type="submit">{{i18n "catalog:removeBtn.title"}}</button>
    </div>
</form>