<!-- start catalog/pdp/add-to-bag-btn.hbs -->
<button id="" class="add-to-bag-btn">
  <img class="bag-thumb" src="{{@root.meta.assetsPath}}img/hand-bag-2-black-2edd08b27f222728b530d5ad224c1134.png" alt="{{i18n "catalog:cart.add"}}">
  {{i18n "catalog:cart.add"}}
</button>
<!-- end catalog/pdp/add-to-bag-btn.hbs -->
