<!-- start catalog/pdp/product-social.hbs -->
<div class="social-share">
  <ul class="social-icons pdp-social-icons">
    <a href="">
    	<li>
    		<img class="social-icon" src="{{@root.meta.assetsPath}}img/Facebook-9de8db4e2bf8450449c8517cf6cfad56.png" alt="facebook">
    	</li>
    </a>
    <a href="">
    	<li>
    		<img class="social-icon" src="{{@root.meta.assetsPath}}img/Pinterest-a2832f1ad511910bfa594edaf077fe21.png" alt="pinterest">
    	</li>
    </a>
    <a href="">
    	<li>
    		<img class="social-icon" src="{{@root.meta.assetsPath}}img/Google-ea49d8ca14a1832f21b5ec28f4411e42.png" alt="google plus">
    	</li>
    </a>
  </ul>
</div>
<!-- end catalog/pdp/product-social.hbs -->
