<!-- start catalog/pdp/social-icons.hbs -->
<ul class="social-icons">
  <a href=""><li><img class="social-icon" src="{{@root.meta.assetsPath}}img/Facebook-9de8db4e2bf8450449c8517cf6cfad56.png" alt="Facebook"></li></a>
  <a href=""><li><img class="social-icon" src="{{@root.meta.assetsPath}}img/Pinterest-a2832f1ad511910bfa594edaf077fe21.png" alt="Pinterest"></li></a>
  <a href=""><li><img class="social-icon" src="{{@root.meta.assetsPath}}img/Google-ea49d8ca14a1832f21b5ec28f4411e42.png" alt="Google+"></li></a>
</ul>
<!-- end catalog/pdp/social-icons.hbs -->
