
.modal-announce,
.modal-announce .modal-footer {
    text-align: center;
}
.modal-announce .modal-content {
    border-radius: 0 !important;
    border: 1px #ccc solid;
}

.modal-announce .modal-dialog {
    width: 760px;
    margin-top: 7%;
}

.modal-announce a {
    color: #333;
}

.modal-announce .modal-header,
.modal-announce .modal-footer{
    border: 0;
}

.modal-announce .modal-title {
    font-weight: bold;
    margin: 0 0 30px 0;
}

.modal-announce .modal-footer p,
.modal-announce .modal-title {
    font-size: 1.5em;
}

.modal-announce .modal-body {
    padding: 33px 80px;
    font-size: 1.25em;
}

@media screen and (max-width: 767px) {
    .modal-announce .modal-body {
        padding: 15px 20px;
    }
    .modal-announce .modal-dialog {
        width: calc(100% - 20px);
    }
}

.modal-announce .modal-footer {
    padding: 0 0 30px 0;
    margin-top: 20px;
}

.modal-announce .modal-footer button {
    margin: 20px 0 20px 0;
}
