<!-- start catalog/home/banner-bottom-right-1.hbs -->
<picture>
  <source srcset="{{cms "bannerBottomRight1.imageLarge"}}" media="(min-width: 1200px)">
  <source srcset="{{cms "bannerBottomRight1.imageMedium"}}" media="(min-width: 768px)">
  <img src="{{cms "bannerBottomRight1.imageSmall"}}" class="img-responsive">
</picture>

<div class="banner-text">
  <h4 class="banner-title">
    {{{cms "bannerBottomRight1.title"}}}
  </h4>
</div>
<!-- end catalog/home/banner-bottom-right-1.hbs -->
