<!-- start catalog/home/view-products-link.hbs -->
<a href="{{cms "suggestions.link"}}" class="home-viewall-btn">
  {{cms "suggestions.linkLabel"}}
</a>
<hr class="home-viewall-hr">
<!-- end catalog/home/view-products-link.hbs -->
