<!-- start catalog/home/view-products-link.hbs -->
<a href="{{cms "viewProducts.linkHref"}}" class="home-viewall-btn">
  {{cms "viewProducts.linkText"}}
</a>
<hr class="home-viewall-hr">
<!-- end catalog/home/view-products-link.hbs -->
