<!-- start home.hbs -->
<!DOCTYPE html>
<html lang="en">
<head>
  {{> common/htmlhead}}
</head>

<body>
  <div class="darkbg hidden"></div>
  {{> common/header}}

  <div class="home-page">

    {{> catalog/home/home-banners}}

    <div class="container">
      {{> catalog/home/home-suggestions}}

      <div class="home-viewall">
        {{> catalog/home/view-products-link}}
      </div>
    </div>
  </div>
  {{> common/wishlist wishlist=content.wishlist}}

  {{> common/footer}}
  {{> common/htmlscripts}}
</body>
</html>
<!-- end home.hbs -->
