<configuration>

    <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%coloredLevel %logger{15} - %message%n%xException{10}</pattern>
        </encoder>
    </appender>

    <logger name="application" level="DEBUG" />
    <logger name="play" level="INFO" />
    <logger name="play.requests" level="DEBUG" />

    <logger name="sphere" level="INFO" />

    <logger name="com.commercetools.sunrise.framework.controllers.metrics.MetricsLogger" level="DEBUG" />
    <logger name="com.commercetools.sunrise" level="INFO" />

    <logger name="com.github.jknack.handlebars.HelperRegistry" level="ERROR" />

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>