<configuration debug="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%level - %logger - %message%n%xException</pattern>
        </encoder>
    </appender>

    <!--
      The logger name is typically the Java/Scala package name.
      This configures the log level to log at for a package and its children packages.
    -->
    <logger name="application" level="DEBUG" />
    <logger name="play" level="INFO" />
    <logger name="play.requests" level="DEBUG" />
    <logger name="sphere" level="INFO" />
    <logger name="sphere.metrics.simple" level="DEBUG" />
    <logger name="productcatalog.services.ProductServiceImpl" level="TRACE" />
    <logger name="tasks.WebjarsFilesCopier" level="INFO" />

    <root level="ERROR">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>