<script src="/assets/public/javascripts/sunrise.js"></script>

{{#if meta.showInfoModal}}
    <div class="modal modal-announce fade" id="modalAnnounce" tabindex="-1" role="dialog" aria-labelledby="modalAnnounceLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <img src="/assets/img/close-30911c9863467dfe20ff2f61ba1e2e57.png" alt="Close">
          </span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4 class="modal-title" id="myModalLabel">{{{cms "modal-announce:infoModal.title"}}}</h4>
                    {{{cms "modal-announce:infoModal.body"}}}
                </div>
                <div class="modal-footer">
                    {{{cms "modal-announce:infoModal.thankYou"}}}
                    <button type="button" class="btn-yellow" data-dismiss="modal">{{cms "modal-announce:infoModal.button"}}</button>
                </div>
            </div>
        </div>
    </div>
{{/if}}

<script src="//cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.1/js.cookie.min.js"></script>
<script src="/assets/public/javascripts/modal-announce.js"></script>