<!-- start common/nav-menu.hbs -->
{{#withCategoryRoots}}
{{#each this}}
  <li class="dropdown menu-large">
    <a href="/{{slug}}" class="dropdown-toggle {{#ifSaleCategory this}}sale icon-ribbon{{/ifSaleCategory}}" data-toggle="dropdown">
      {{name}}
      <img class="mobile-plus-content visible-xs" src="/assets/img/plus79-ff2fd999af2fc5d389613530e5c59636.png" alt="{{i18n "main:more"}}">
    </a>
    {{> common/nav-menu-category category=this}}
  </li>
{{/each}}
{{/withCategoryRoots}}
<!-- end common/nav-menu.hbs -->
