<!-- start catalog/product-name.hbs -->
<p>
  <h1 class="text-uppercase pdp-product-title">{{content.myproduct.name}}</h1>
  <span class="grey-p quickview-sku">{{content.myvariant.sku}}</span>
</p>
<!-- end catalog/product-name.hbs -->
