<!-- start catalog/product-availability.hbs -->
<div class="status">
  {{#*inline "green"}}
      <div class="status-color green"></div>
      <span class="status-text">{{i18n "main:storeLocation.availability.available"}}</span>
  {{/inline}}
  {{#*inline "red"}}
      <div class="status-color red"></div>
      <span class="status-text">{{i18n "main:storeLocation.availability.notAvailable"}}</span>
  {{/inline}}
  {{#*inline "orange"}}
      <div class="status-color orange"></div>
      <span class="status-text">{{i18n "main:storeLocation.availability.fewItemsLeft"}}</span>
  {{/inline}}

    {{#with variant.availability.availableQuantity}}
        {{> (availabilityColorCode this)}}
    {{/with}}
</div>
<!-- end catalog/product-availability.hbs -->
