<!-- start catalog/product-price.hbs -->
<p class="product-price">
  {{#withProductPrice variant}}
      {{#if previous}}<span class="discounted-price">{{previous}}</span>{{/if}}
      <span>{{current}}</span>
  {{/withProductPrice}}
</p>
<!-- end catalog/product-price.hbs -->
