<!-- start catalog/product-name.hbs -->
<p>
  <h1 class="text-uppercase pdp-product-title">{{product.name}}</h1>
  <span class="grey-p quickview-sku">{{variant.sku}}</span>
</p>
<!-- end catalog/product-name.hbs -->
