<!-- start checkout/continue-shopping-button-left.hbs -->
<a href="/" class="text-uppercase continue-shopping-btn">{{i18n "checkout:continueShopping"}}</a>
<!-- end checkout/continue-shopping-button-left.hbs -->
