<!-- start checkout/edit-link.hbs -->
{{#if enabled}}
    <a id="{{id}}" href="{{url}}">
      <span class="pull-right">
          <img src="{{@root.meta.assetsPath}}img/edit-1-e76b284c78cd97506e3b64cfd0c089ae.png" class="checkout-summary-edit-icon" alt="">{{i18n "main:form.edit"}}
      </span>
    </a>
{{/if}}
<!-- end checkout/edit-link.hbs -->
