<!-- start checkout/secure-checkout-title.hbs -->
<div class="secure-payment">
    <span><img class="secure-payment-icon" src="{{@root.meta.assetsPath}}img/credit-card-lock-822859b9a3cd683c183d9874ab22d6df.png" alt="secure payment"></span>
    <span class="text-uppercase secure-payment-title">{{i18n titleKey}}</span>
</div>
<!-- end checkout/secure-checkout-title.hbs -->
