
/*****************************************************************************/
/*
/* TYPOGRAPHY
/*
/*****************************************************************************/

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

/*****************************************************************************/
/*
/* COLORS
/*
/*****************************************************************************/

$white: #FFFFFF;
$lighter-grey: #F5F5F5;
$light-grey: #D6D6D6;
$grey: #ADADAD;
$dark-grey: #858585;
$black: #333333;
$yellow: #FFBA27;
$red: #D54D4D;
$dark-blue: #2A343F;
$steel: #AAAEB2;
$lighter-steel: #D9D7CE;
$dirty-white: #F5F2EA;
$green: #7D945E;
$blue: #6989C2;

/*****************************************************************************/
/*
/* GENERAL STYLING
/*
/*****************************************************************************/

// Links
a, 
a:link, 
a:visited, 
a:active, 
a:hover { 
	text-decoration: none; 
	color: inherit;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

/*****************************************************************************/
/*
/* HEADER
/*
/*****************************************************************************/

// General 

.header {
    background: $dark-blue;
}

#header {
	background: $dark-blue;
	font-size: 0.8em;
	text-align: center;
}

.header-left li,
.header-right li {
	display: inline-block;
	margin: 10px 10px;
}

.header-left,
.header-right {
	margin-bottom: 0;
}

.glyphicon.glyphicon-map-marker,
.glyphicon.glyphicon-user,
.glyphicon.glyphicon-lock {
	font-size: 20px;
	padding-right: 5px;
	vertical-align: middle;
}

// Left

.header-left {
	color: $grey;
    padding-left: 0;
}

.header-left a:hover {
	color: $white;
}

// Right

.language-select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   color: $light-grey;
   border: none;
   background: transparent;
   width: 21px;
}

.language-select:hover {
    color: $white;
    cursor: pointer;
}

.header-right .cart-items {
    margin: 10px 0;
}

.cart-item-number {
    background: $yellow;
    padding: 2px 7px;
    width: 21px;
    border-radius: 50%;
    color: $dark-blue;
    font-size: 1.1em;
}

.header-right {
	color: $light-grey;
}

.header-right a:hover {
	color: $white;
}

/*****************************************************************************/
/*
/* NAVIGATION
/*
/*****************************************************************************/

// Sunrise logo  and searchbox

.logo-img {
    margin-left: 10px;
}

.logo-search {
	padding: 1em 0;
}

.search-box input {
    background: url(../../../assets/img/magnifying-glass34.png) no-repeat 270px 4px $dirty-white;
    background-size: 20px;
    border: 1px solid rgba(170, 174, 178, 0.5);
    border-radius: 3px;
    padding: 0 1em;
}

.search-field {
    width: 300px;
    margin: 6px 0; 
    height: 30px;
}

// Main navigation

.navbar {
    background: transparent;
    margin: 0 0;
    text-transform: uppercase;
}

.navbar-default {
    border: none;
}

.main-nav {
    padding: 0 0;
}

#navigation {
    padding: 0 0.2em;
}

.navbar-default .navbar-nav>li>a:first-child {
    padding-left: 4px;
}
 
.navbar-default .navbar-nav .open a, 
.navbar-default .navbar-nav .open a:focus, 
.navbar-default .navbar-nav .open a:hover {
    background: transparent;
}

.dropdown-menu {
    border: none;
    box-shadow: none;
}

.navbar-collapse.in, {
    text-align: center;
}

.navbar-collapse,
.navbar-collapsing {
    text-align: center;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background: none;
}

// // Dispaly dropdown on hover
// ul.nav li.dropdown:hover > ul.dropdown-menu {
//     display: block;    
// }

.glyphicon-tags:before {
    padding-right: 0.5em;
}

.glyphicon-tags {
    color: $red;
}

/*****************************************************************************/
/*
/* POP PAGE
/*
/*****************************************************************************/

.pop-page {
    background: $dirty-white;
}

#pop-page {
	background: $dirty-white;
    font-size: .9em;
    text-transform: uppercase;
}

.hr {
    margin: 0;
    border: 1px solid rgba(214, 214, 214, 0.4);
}

.breadcrumb {
    background: none;
    padding: 0.5em 0.5em;
}

.product-filter {
	padding: 0.5em 0.5em;
}

.product-type {
    margin-top: 10px;
}

// Product type accordion menu

.panel-heading,
.panel-body {
    padding: 0 0;
}

.panel-title {
    background-color: $dirty-white;
}

.panel {
    background-color: transparent;
    border: none;
}

.collapsed {
    font-size: .6em;
}

// Size Box

.size-box,
.color-box,
.designer-box,
.price-box {
    padding: 1em 0 0;
}

// Price slider

.price-slider {
    margin: 2em 0;
}

// Buttons

.per-page {
    background: transparent;
}

.low-btn {
    background: $steel;
    border: none;
    border-radius: 3px;
    color: $white;
}

.high-btn {
    background: $white;
    border: 1px solid $steel;
    border-radius: 3px;
    color: $steel;
}

// Slider

input[type="range"] {
    
}

// Designer box

.designer-list {
    margin-top: 1em;
    border: 1px solid $light-grey;
    height: 200px;
    overflow: scroll;
}

// Placeholder image

.placeholder-img {
    margin: 1em 0;
}

.text-capitalize {
    text-transform: capitalize;
}

// Pagination

.item-list-pagination {
    padding: 1em 0;
    font-size: 0.8em;
}

.pagination, {
    margin: 0 auto;
}

.page-numbers {
    padding-left: 0;
}

.page-numbers li {
    display: inline-block;
}

// Gallery items

.gallery-item {
    padding: 0 0 2em;
}

// // Overlay on hover

// .shop-item {
//     position: relative;
// }

// .shop-item:after {
//     content:'Quick View';
//     position:absolute;
//     width:100%; height:100%;
//     top:0; left:0;
//     background:rgba(0,0,0,0.1);
//     opacity:0;
// }
// .shop-item:hover:after {
//     opacity:1;
// }

/*****************************************************************************/
/*
/* FOOTER
/*
/*****************************************************************************/

.footer {
    background: $dark-blue;
}

#footer {
    font-size: 0.7em;
    font-weight: 200;
    padding-top: 2em;
    color: white;
    background: $dark-blue;
    letter-spacing: 0.1em;
}

.sub-footer {
    background: $black;
    padding-top: 1em;
    font-size: 0.8em;
}

#footer ul {
    list-style: none;
    padding-left: 0;
}

#footer ul li {
    padding: 0.5em 0;
}

.footer-title {
    color: $dark-grey;
    font-size: 1em;
    margin: 0 0;
}

.newsletter-box {
    padding: 3em 0;
}

.email-box {
    width: 200px;
    color: #white;
    background: $black;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    padding: 0.5em 0.5em;
}

.email-submit input {
    background: url(../../../assets/img/arrow-28-32.png) no-repeat 183px 1px $black;
    background-size: 12px;
    padding: 0 1em;}

.card-info {
    padding-top: 5em;
}

.payment-cards {
    width: 240px;
}

.footer-title-yellow {
    color: $yellow;
    text-align: center;
}

.social-icons li {
    display: inline-block;
}

.social-icon {
    max-height: 20px;
}

/*****************************************************************************/
/*
/* MEDIA QUERIES
/*
/*****************************************************************************/

@media screen and (max-width: 768px) {
    .filter-options {
        display: none;
    }
    .search-box {
        text-align: center;
    }
    .logo-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #footer {
        text-align: center;
    }
    .card-info {
        text-align: center;
    }
    .payment-cards {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 629px) {
    .cart-item-number,
    .your-bag,
    .call-us {
        display: none;
    }
    .header-right {
        height: 20px;
    }
}













