<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
 Alternative HBS template here!
 {{#each breadcrumb}}
     <p>{{name}} with URL {{url}}</p>
 {{/each}}
</body>
</html>